<launch>
  <arg name="config_filepath" default="$(find rosbag_recorder)/config/config.yaml"/>
  <!-- rosbag_recorder_node -->
  <node pkg="rosbag_recorder" name="rosbag_recorder_node" type="rosbag_recorder_node" output="screen">
    <rosparam command="load" file="$(arg config_filepath)"/>
  </node>
  <!--<node pkg="rosbag_recorder" name="rosbag_uploader" type="rosbag_uploader.sh"/> -->
</launch>